* {
	box-sizing: border-box;
}

h1 {
	text-align:center;
}

body{
	background-color: #C6CFE7;
}

/***BASE STYLES***/
section {	
	padding:10px;
}

#Chicken {
	position : relative;
	background-color : #CF0A00;
	border: 1px solid black;
}

#Mutton {
	position : relative;
	background-color: #48B103;
	border: 1px solid black;
}

#Sushi {
	position : relative;
	background-color: #005DF6;
	border: 1px solid black;
}
p{	
	width: 100%;
	padding: 10px;
	margin-top: 25px;
	text-align:justify;
}		
span {
	border: 1px solid black;			
	background-color: white;
	padding : 5px;
	position: absolute;
	right : 0px;
}

/***FOR LARGE DEVICES***/
@media (min-width: 992px) {
	.col-lg-3 {
		float: left;
		width: 33.33%;
		/*border: 1px solid black;*/
	}

}

/*** FOR TABLET DEVICES***/
@media (min-width: 768px) and (max-width: 991px){
	.col-md-2 {
		float: left;
		width: 50%;
		/*border: 1px solid black;*/
		
	}
	.col-md-1 {
		float: left;
		width: 100%;
		/*border: 1px solid black;*/
		
	}
}
/***FOR MOBILE DEVICES***/
@media (max-width: 767px){
	.col-sm-1 {
		width: 100%;
		float: left;
		/*border: 1px solid black;*/
	}
}