

body {
	font-size: 16px;
	color: #000;
	background-color:  #fff;
	font-family: 'Oxygen', sans-serif;
}

#header-nav {
	background-color: hsla(0,100%,25%, .2);
	border-radius: 0px;
	border: 0;
}


.menubox {
	width: 100%;
	margin-bottom: 25px;
	margin-top: 25px;
	text-align: justify;
	position: relative;
	padding: 15px;
	color: black;
	background-color: hsla(0,0%,0%,.2);

}

.menubox: hover{
	box-shadow: 1px 1px 1px 5px solid black;
}

.titlespan{
	position: absolute;
	font-weight: bold;
	text-align: center;
	width: 100%;
	top: 5px;
	left: 0;
}

.navbar-brand h1{
	font-weight: bold;
	color: red;
	font-size: 2em;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #222;
	margin-top: 10px;
	margin-bottom: 0;
	line-height: .1;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#nav-list {
	margin-top: 10px;
}

#nav-list a {
	color: black;
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
}

#nav-list a:hover {
	background: #E7E7E7;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #61122F;
}


h2 {
	color: black;
	font-weight: bold;
}
